@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section
{
    padding: 120px 14%;
}

/* SKILLS */
.skills
{
    display: grid;
    height: 100%;
    place-items: center;  
    font-family: 'Poppins', sans-serif;
}

.skills h2
{
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 3rem;
    text-shadow: 2px 2px #ff6d00;
}

.skills-bar
{
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
    padding: 25px 30px;
    border-radius: 10px;
}

.skills-bar .bar
{
    margin: 20px 0;
}

.skills-bar .bar:first-child
{
    margin-top: 0px;
}

.skills-bar .bar .info
{
    margin-bottom: 5px;
}

.skills-bar .bar .info span
{
    font-size: 17px;
    font-weight: 500;
    color: #333;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText
{
    100%
    {
        opacity: 1;
    }
}

.skills-bar .bar .progress-line
{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                          0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span
{
    height: 100%;
    width: 80%;
    background: #ff6d00;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate
{
    100%
    {
        transform: scaleX(1);
    }
}


.progress-line.html span
{
    width: 90%;
}

.progress-line.css span
{
    width: 75%;
}

.progress-line.javascript span
{
    width: 50%;
}

.progress-line.django span
{
    width: 50%;
}

.progress-line.canva span
{
    width: 80%;
}

.bar .progress-line span::before
{
    position: absolute;
    content: "";
    right: 0;
    height: 0;
    width: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after
{
    position: absolute;
    /* content: "80%"; */
    right: 0;
    top: -24px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2
{
    100%
    {
        opacity: 1;
    }
}

.progress-line.html span::after
{
    content: "90%";
}

.progress-line.css span::after
{
    content: "75%";
}

.progress-line.javascript span::after
{
    content: "50%";
}

.progress-line.django span::after
{
    content: "50%";
}

.progress-line.canva span::after
{
    content: "80%";
}